flake8==3.5.0
imutils==0.4.6
mccabe==0.6.1
numpy==1.14.4
opencv-contrib-python==3.4.1.15
opencv-python==3.4.7.28
Pillow==5.1.0
PyAudio==0.2.11
pycodestyle==2.3.1
pyflakes==1.6.0
PyQt5==5.10.1
pyttsx3==2.7
sip==4.19.8
SpeechRecognition==3.8.1
